
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans');
  src: url(opensans.woff) format('woff');
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}

body {
  background-color: #2ecc71;
  text-align: center;
  color: #FFFFFF;
}

header {
  text-align: left;
  background-color: #2980b9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700px;
  padding-left: 5%;
}

.menu {
  margin-top: 15px;
  background-color: #34495e;
  margin-left: 20%;
  padding-left: 5%;
  width: 75%;
  font-weight: bold;
}


a {
  color: #FFFFFF;
  text-decoration: none;
}

button {
  margin-left: 10px;
  display: block;
  font-size: 1.1rem;
  width: 200px;
  line-height: 2;
  margin-top: 10px;
  background-color: #34495e;
  color: white;
}

div {
/*  background-color: #27ae60; */
}

.phrase {
  margin-top: 15%;
  background: #34495e;
  font-weight: bold;
}

.result {
  margin-top: 3%;
  background: #34495e;
  font-weight: bold;
}

.output {
  margin-top: 3%;
  background: #34495e;
  font-style: italic;
}

